link(rel='stylesheet', type='text/css', href='/css/index.css')

header.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/") Home
    nav
      //on the left side of the nav
      ul.nav.navbar-nav
        li
          a(href="pit") Pit
        li
          a(href="scout") Scout
        li
          a(href="moderator") Moderator
        li
          a(href="analyst") Analyst
        li
          a(href="picklist") Picklist

    .pull-right
      btn.btn-lg.btn-info(disabled) {{ connected }}

// for alerts
.well
  .row
    .col-sm-12(ng-repeat="alert in alerts")
      alert(type="alert.type" close="closeAlert($index)" ng-click="closeAlert($index)") {{ alert.msg }}


.row
  .col-sm-2
    p.lead Choose Event
  .col-sm-4
    select.form-control(ng-options="event.value as event.name group by event.region for event in events" ng-model="eventId")

