link(rel='stylesheet', type='text/css', href='/css/style.css')

.panel.panel-default
  .panel-heading
    h1.text-center Verify
  .panel-body
    .row
      .col-sm-5#topcolred
        .row
          .col-sm-4
            p.teams(ng-bind="redTeams[0]")
            p.teams(ng-bind="redTeams[1]")
            p.teams(ng-bind="redTeams[2]")
          .col-sm-8
            .row
              p.pull-left.scoreVerify Points:
            .row
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('red','score',-1)")
                  span.glyphicon.glyphicon-minus.text-center
              .col-sm-6
                h1.text-center(ng-bind="redScore")
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('red','score',1)")
                  span.glyphicon.glyphicon-plus.text-center
              
            .row
              h2.pull-left Fouls:
            .row
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('red','fouls',-1)")
                  span.glyphicon.glyphicon-minus.text-center
              .col-sm-6
                h2.text-center(ng-bind="redFouls")
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('red','fouls',1)")
                  span.glyphicon.glyphicon-plus.text-center


      .col-sm-5.col-sm-offset-2#topcolblue
        .row
          .col-sm-4
            p.teams(ng-bind="blueTeams[0]")
            p.teams(ng-bind="blueTeams[1]")
            p.teams(ng-bind="blueTeams[2]")
          .col-sm-8
            .row
              p.pull-left.scoreVerify Points:
            .row
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('blue','score',-1)")
                  span.glyphicon.glyphicon-minus.text-center
              .col-sm-6
                h1.text-center(ng-bind="blueScore")
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('blue','score',1)")
                  span.glyphicon.glyphicon-plus.text-center
              
            .row
                h2.pull-left Fouls:
            .row
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('blue','fouls',-1)")
                  span.glyphicon.glyphicon-minus.text-center
              .col-sm-6
                h2.text-center(ng-bind="blueFouls")
              .col-sm-3
                button.btn.btn-default(ng-click="editStats('blue','fouls',1)")
                  span.glyphicon.glyphicon-plus.text-center
  .panel-footer
    a.btn.btn-lg.btn-primary#start(ng-click="submitMatch()") Submit

//
  .jumbotron#outer  
  h1#matchviewtitle(align="center") Verify
  .container
    .row-fluid
      .col-md-5#leftcolred
        .row
          .col-md-4
            h3 Team Number
          .col-md-4
            h3 Pts.
          .col-md-4
            h3 Fouls
        .row
          .col-md-4
            h3 1234
          .col-md-4
            h3 4
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
          .col-md-4
            h3 5
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
        .row
          .col-md-4
            h3 4321
          .col-md-4
            h3 61
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
          .col-md-4
            h3 3
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
        .row
          .col-md-4
            h3 1540
          .col-md-4
            h3 9001
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
          .col-md-4
            h3 0
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus

      .col-md-1

      .col-md-5#leftcolblue
        .row
          .col-md-4
            h3 Team Number
          .col-md-4
            h3 Pts.
          .col-md-4
            h3 Fouls
        .row
          .col-md-4
            h3 1234
          .col-md-4
            h3 4
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
          .col-md-4
            h3 5
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
        .row
          .col-md-4
            h3 4321
          .col-md-4
            h3 61
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
          .col-md-4
            h3 3
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
        .row
          .col-md-4
            h3 1540
          .col-md-4
            h3 9001
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
          .col-md-4
            h3 0
              a.btn.glyphicon.glyphicon-plus
              a.btn.glyphicon.glyphicon-minus
    left
  a.btn.btn-lg.btn-primary#start Submit