//- img#bunny.img-polaroid(src="/img/bunnybot.png")
header.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="/") Home
		nav
			//on the left side of the nav
			ul.nav.navbar-nav
				li
					a(href="pit") Pit
				li
					a(href="scout") Scout
				li
					a(href="moderator") Moderator
				li
					a(href="analyst") Analyst
				li
					a(href="picklist") Picklist
