link(rel='stylesheet', type='text/css', href='/css/style.css')
.panel.panel-default
  .panel-heading
    h1.text-center BunnyBots Main Control Page 
  .panel-body
      .row
        .col-sm-5#leftcolred
          .row
            .col-sm-3
              p.pull-right.teams red1
            .col-sm-8.col-offset-sm-1
              input.input-lg.pull-right(ng-model="redTeams[0]")
          .row
            .col-sm-3
              p.pull-right.teams red2
            .col-sm-8.col-offset-sm-1
              input.input-lg.pull-right(ng-model="redTeams[1]")
          .row
            .col-sm-3
              p.pull-right.teams red3
            .col-sm-8.col-offset-sm-1
              input.input-lg.pull-right(ng-model="redTeams[2]")

        .col-sm-2
          p.text-center.score v.

        .col-sm-5#rightcolblue
          .row
            .col-sm-8
              input.input-lg.pull-left(ng-model="blueTeams[0]")
            .col-sm-3.col-offset-sm-1
              p.pull-left.teams blue1
          .row
            .col-sm-8
              input.input-lg.pull-left(ng-model="blueTeams[1]")
            .col-sm-3.col-offset-sm-1
              p.pull-left.teams blue2
          .row
            .col-sm-8
              input.input-lg.pull-left(ng-model="blueTeams[2]")
            .col-sm-3.col-offset-sm-1
              p.pull-left.teams blue3

  .panel-footer
    a.btn.btn-primary(ng-click="createMatch()") Submit
    a.btn.btn-warning(ng-click="serverMatchReset()") Reset Current Match on Server
