link(rel='stylesheet' type='text/css' href='/css/index.css')

select.form-control(ng-options="event.name as event.value for event in events" ng-model="thisEvent")

// select bar
ul
	li(ng-repeat="match in matches | orderBy:moderated:reverse | orderBy:matchNum")
		// three red teams
		.row
			.col-md-10
				.well
					.row
						.col-md-5
							.row
								.col-md-4
									.btn.btn-default.btn-block(ng-click="openEditor( {{team1}} )") {{match.redAlliance.team1}}
								.col-md-4
									.btn.btn-default.btn-block(ng-click="openEditor( {{team2}} )") {{match.redAlliance.team2}}
								.col-md-4
									.btn.btn-default.btn-block(ng-click="openEditor( {{team3}} )") {{match.redAlliance.team3}}
						.col-md-2
								p.lead.text-center {{match.id}}
						.col-md-5
							.row
								.col-md-4
									.btn.btn-default.btn-block(ng-click="openEditor( {{team1}} )") {{match.blueAlliance.team1}}
								.col-md-4
									.btn.btn-default.btn-block(ng-click="openEditor( {{team2}} )") {{match.blueAlliance.team2}}
								.col-md-4
									.btn.btn-default.btn-block(ng-click="openEditor( {{team3}} )") {{match.blueAlliance.team3}}

			.col-md-2
				.btn.btn-default(ng-click="moderated=true") Finish Moderation

.col-md-3
	.row
		a.btn(ng-click="generatePDF()") PDF