  
h2.text-center Team Picklist


//Entered Teams Well
.row
  .col-sm-6.h3.text-center Entered Teams
    .well.text-center.overflow
      ul
        li
          .list(ng-repeat="(teamId, team) in teams" ng-click="selectTeam({{teamId}})" ng-style="team.style")
            h5.text-center {{teamId}} : {{team.name}}


          //First Pick Teams Well
  .col-sm-6.h3.text-center 1st Pick Teams
    .well.text-center.overflow
      ul
        li
          .list(ng-repeat="(teamId, team) in firstPicks" ng-style="team.style" ng-click="viewTeamInfo({{teamId}})")
            h5.text-center {{teamId}} : {{team.name}}
                  
        // Team Info with second pick teams
.row
  .col-sm-12
    h5.text-center First Pick - {{ firstPick.id }}, {{ firstPick.name }}
    .well.h3.text-center.overflow
      .row
        .col-sm-6.text-center Team Info
          .well
            h5.pull-left {{ currentNotes }}


        .col-sm-6.text-center 2nd Pick Teams
          .well.text-center
            ul
              li
                .list(ng-repeat="team in secondPicks" ng-style="team.style")
                  h5.text-center {{ team.id }} - {{ team.name }}

