// general info
.panel.panel-default
	.panel-heading General Information
	.panel-body 
		.row
			h3.text-center Team/Event Info:
		br
				.row
			.col-sm-2
				p.lead Choose Event
			.col-sm-4
				select.form-control(ng-options="event.value as event.name group by event.region for event in events" ng-model="eventId")

			.col-sm-2
				p.lead Choose Match
			.col-sm-4
				select.form-control(ng-options="team.id for team in teams" ng-model="teamId")
		br
		hr
		.row
			.col-sm-12
				h3.text-center Wheels:
					br
				.row
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelL1")
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelR1")
				br
				.row
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelL2")
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelR2")
				br
				.row
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelL3")
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelR3")
				br
				.row
					.col-lg-12
						.input-group
							span.input-group-addon Notes:
							input.form-control(type='text' ng-model='generalInfo.wheelNotes')
		hr
		.row
			.col-sm-4
				h3.text-center
					| Robot Height:
					br
					br
					.input-group
						input.form-control(type='number' ng-model='generalInfo.robotHeight')
						span.input-group-addon inches
			.col-sm-4
				h3.text-center Shifting?
				br
				.row
					.text-center
						.btn-group
							button.btn.btn-primary(type='button', ng-model='generalInfo.shifting', btn-radio="true") Yes
							button.btn.btn-primary(type='button', ng-model='generalInfo.shifting', btn-radio="false") No
			.col-sm-4
				h3.text-center
					| Shooting Range:
					br
					.row
						.col-sm-6
							.text-center 
								h4 Min
								select.form-control(ng-options="minShoot.name for minShoot in zones" ng-model="minShoot" required)
						.col-sm-6
							.text-center 
								h4 Max
								select.form-control(ng-options="maxShoot.name for maxShoot in zones" ng-model="maxShoot" required)

	//
		.panel-footer
			.btn.btn-info Save

// robot information
.panel.panel-default
	.panel-heading Robot Information
	.panel-body
		.row
			.col-sm-6
				h3.text-center
					| Shooter Type:
					br
				select.form-control(ng-options="shooterType.name for shooterType in shooterTypes" ng-model="shooterType" required)
			.col-sm-6
				h3.text-center
					| Collector Type:
					br
				select.form-control(ng-options="collectorType.name for collectorType in collectorTypes" ng-model="collectorType" required)
		br
		hr
		.row
			.col-sm-6
				h3.text-center Able to catch?
				br
				.text-center
					.btn-group
						button.btn.btn-primary(type='button', ng-model='catchAble', btn-radio="true") Yes
						button.btn.btn-primary(type='button', ng-model='catchAble', btn-radio="false") No
			.col-sm-6
				h3.text-center
					| What happens if disabled with ball?
					br
					br
					.input-group
						input.form-control(type='text', ng-model='disabledPlan')
						span.input-group-addon 
		br
		hr
		.row 
			.col-sm-6
				h3.text-center
					| Preferred Play Style:
					br
					br
					select.form-control(ng-options="playstyle.name for playstyle in playstyles" ng-model="playstyle" required)
			.col-sm-6
				h3.text-center
					| Reload Time:
					br
					br
					select.form-control(ng-options="time.name for time in reloadTimes" ng-model="reloadTime" required)
		br
	//
		.panel-footer
			.btn.btn-info Save

// autonomous information
.panel.panel-default
	.panel-heading Autonomous Information
	.panel-body
		.row
			.col-sm-4
				.row
					h3.text-center Drive forward autonomous?
					br
				.row
					.text-center
						.btn-group
							button.btn.btn-primary(type='button', ng-model='dfAuto', btn-radio="true") Yes
							button.btn.btn-primary(type='button', ng-model='dfAuto', btn-radio="false") No
			.col-sm-4
				.row
					.col-lg-12.text-center
						h3 Number of balls they can score:
						br
						.btn-group
							button.btn.btn-primary(type='button', ng-model='autoBalls', btn-radio="0") 0
							button.btn.btn-primary(type='button', ng-model='autoBalls', btn-radio="1") 1
							button.btn.btn-primary(type='button', ng-model='autoBalls', btn-radio="2") 2
							button.btn.btn-primary(type='button', ng-model='autoBalls', btn-radio="3") 3
			.col-sm-4
				h3.text-center Recognize hot goal?
				br
				.text-center
					.btn-group
						button.btn.btn-primary(type='button', ng-model='hotRecog', btn-radio="true") Yes
						button.btn.btn-primary(type='button', ng-model='hotRecog', btn-radio="false") No
		hr
		.row
			.col-lg-12
				h3.text-center
					| Starting Position:
					br
					br
					select.form-control(ng-options="position.name for position in startSpots" ng-model="startPosition" required)
	//
		.panel-footer
			.btn.btn-info Save

// notes
.panel.panel-default
	.panel-heading Notes
	.panel-body
		.row
			.col-lg-12
				.input-group
					input.form-control(type='text', ng-model='generalNotes')
					span.input-group-addon
	.panel-footer
		.btn-lg.btn.btn-success(ng-click="saveData()") Save All
		.btn-lg.btn.btn-info(ng-click="submitData()") Send to Server
