
header.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="/") Home
		nav
			//on the left side of the nav
			ul.nav.navbar-nav
				li
					a(href="pit") Pit
				li
					a(href="scout") Scout
				li
					a(href="moderator") Moderator
				li
					a(href="analyst") Analyst
				li
					a(href="picklist") Picklist

// success alerts
#alerts
	.row
		.col-sm-12(ng-repeat="alert in alerts")
			alert(type="alert.type" close="closeAlert($index)" ng-click="closeAlert($index)") {{ alert.msg }}

// general info
.panel.panel-default
	.panel-heading General Information
	.panel-body 
		.row
			h3.text-center Team/Event Info:
		br
		.row
			.col-sm-2
				p.lead Choose Event:
			.col-sm-4
				select.form-control(ng-options="event.value as event.name group by event.region for event in events" ng-model="eventId")

			.col-sm-2
				p.lead Choose Team:
			.col-sm-4
				select.form-control(ng-options="team.id for team in teams" ng-model="team")
		br
		hr
		.row
			.col-sm-12
				h3.text-center Wheels:
					br
				.row
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelL1")
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelR1")
				br
				.row
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelL2")
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelR2")
				br
				.row
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelL3")
					.col-sm-6
						select.form-control(ng-options="wheel for wheel in wheels" ng-model="generalInfo.wheel.wheelR3")
		hr
		.row
			.col-sm-1
			.col-sm-3.text-center
				h3.text-center Shifting?
				br
				.row
					.col-sm-12
						.btn-group.btn-group-justified
							.btn.btn-lg.btn-primary(ng-model='generalInfo.shifting' btn-radio="true") Yes
							.btn.btn-lg.btn-primary(ng-model='generalInfo.shifting' btn-radio="false") No
			.col-sm-8.text-center
				h3.text-center Shooting Range:
				br
				.row
					.col-sm-12
						.btn-group.btn-group-justified
							.btn.btn-lg.btn-primary(btn-checkbox ng-model='generalInfo.shootingRange.far') Far
							.btn.btn-lg.btn-primary(btn-checkbox ng-model='generalInfo.shootingRange.medium') Medium
							.btn.btn-lg.btn-primary(btn-checkbox ng-model='generalInfo.shootingRange.near') Near
							.btn.btn-lg.btn-primary(btn-checkbox ng-model='generalInfo.shootingRange.low') Low Goal

// robot information
.panel.panel-default
	.panel-heading Robot Information
	.panel-body
		.row
			.col-sm-6
				h3.text-center Shooter Type:
					br
				select.form-control(ng-options="shooterType for shooterType in shooterTypes" ng-model="robotInfo.shooterType")
			.col-sm-6
				h3.text-center Collector Type:
					br
				select.form-control(ng-options="collectorType for collectorType in collectorTypes" ng-model="robotInfo.collectorType")
			
		br
		hr
		.row
			.col-sm-6
				h3.text-center Able to catch?
				br
				.text-center
					.btn-group.btn-group-justified
						.btn.btn-lg.btn-primary(ng-model='robotInfo.catchable' btn-radio="true") Yes
						.btn.btn-lg.btn-primary(ng-model='robotInfo.catchable' btn-radio="false") No
			.col-sm-6
				h3.text-center Preferred Play Style:
					br
					br
					br
				select.form-control(ng-options="playstyle for playstyle in playstyles" ng-model="robotInfo.playstyle")
			
.panel.panel-default
	.panel-heading Autonomous Information
	.panel-body
		.row
			.col-sm-4
				.row
					h3.text-center Drive forward autonomous?
					br
					br
				.row
					.col-sm-12
						.btn-group.btn-group-justified
							.btn.btn-lg.btn-primary(ng-model='autoInfo.dfAuto' btn-radio="true") Yes
							.btn.btn-lg.btn-primary(ng-model='autoInfo.dfAuto' btn-radio="false") No
			.col-sm-4.text-center
				.row
					.col-sm-12
						h3.text-center Auto Balls Scorable:
						br
						br
						br
					.col-sm-12
						.btn-group.btn-group-justified
							.btn.btn-lg.btn-primary(ng-model='autoInfo.autoBalls' btn-radio="0") 0
							.btn.btn-lg.btn-primary(ng-model='autoInfo.autoBalls' btn-radio="1") 1
							.btn.btn-lg.btn-primary(ng-model='autoInfo.autoBalls' btn-radio="2") 2
							.btn.btn-lg.btn-primary(ng-model='autoInfo.autoBalls' btn-radio="3") 3
			.col-sm-4
				h3.text-center Recognize hot goal?
				br
				br
				.text-center
					.btn-group.btn-group-justified
						.btn.btn-lg.btn-primary(ng-model='autoInfo.hotRecog' btn-radio="true") Yes
						.btn.btn-lg.btn-primary(ng-model='autoInfo.hotRecog' btn-radio="false") No
		hr
		.row
			.col-sm-6
				h3.text-center Starting Position:
					br
					br
				.btn-group.btn-group-justified
					.btn.btn-lg.btn-primary(ng-model='autoInfo.startPosition' btn-radio="'goalie'") Goalie
					.btn.btn-lg.btn-primary(ng-model='autoInfo.startPosition' btn-radio="'field'") Field
			.col-sm-6
				h3.text-center What happens if disabled with ball?
					br
					br
				input.form-control(ng-model='robotInfo.disabledPlan')

.panel.panel-default
	.panel-heading Notes
	.panel-body
		.row
			.col-sm-12
				textarea.form-control(rows=col-sm-8 ng-model='notes')

	.panel-footer
		.btn-sm.btn.btn-lg.btn-success(ng-click="saveData()") Save
		&nbsp&nbsp&nbsp
		.btn-sm.btn.btn-lg.btn-info(ng-click="submitData()") Send to Server
		&nbsp&nbsp&nbsp
		.btn-sm.btn.btn-lg.btn-danger(ng-click="clearEntries()") Clear All Files
		&nbsp&nbsp&nbsp
		.btn-sm.btn.btn-lg.btn-danger(ng-click="printEntries()") Print All Files

