link(rel='stylesheet', type='text/css', href='/css/index.css')

// extra navigation
header.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="/") Home
		nav
			//on the left side of the nav
			ul.nav.navbar-nav
				li
					a(ng-click="displayView( 'info' )") Match Info
				li
					a(ng-click="displayView( 'auto' )") Autonomous
				li
					a(ng-click="displayView( 'teleop' )") Teleop
				li
					a(ng-click="displayView( 'submit' )") Match Submit

// match info
.panel.panel-default(collapse="collapse.info")
	.panel-heading Match Info
	.panel-body
		p.lead.text-center Red1

		.row
			.col-sm-3
				p.lead Choose Event
			.col-sm-9
				select.form-control(ng-options="event.name as event.value group by event.region for event in events" ng-model="event" required)
		.row
			.col-sm-3
				p.lead Scout Name
			.col-sm-9
				select.form-control(ng-options="scout for scout in scouts" ng-model="scout" required)

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-block.btn-info(ng-click="continueToMatch(); displayView( 'auto' )") I See My Robot!

// autonomous info
.panel.panel-default(collapse="collapse.auto")
	.panel-heading Autonomous
	.panel-body

		p.lead.text-center Start Position

		.row
			.col-sm-12
				.btn-group.btn-group-justified
					.btn.btn-default.btn-lg(ng-model="startPosition" btn-radio="'field'") Field
					.btn.btn-default.btn-lg(ng-model="startPosition" btn-radio="'goalie'") Goalie

			.col-sm-12
				// if goalie, do shots blocked, if shooter, shots made
				div(ng-if="startPosition === 'field'")
					br
					.row
						.col-sm-8.col-sm-offset-2
							.btn.btn-success.btn-block(ng-model="drivesForward" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false") Drives Forward
					comp-spinner(title="Autonomous Shots", items-to-track="fieldItemsToTrackInAutonomous")
				comp-spinner(ng-if="startPosition === 'goalie'",title="Goalie Autonomous", items-to-track="goalieItemsToTrackInAutonomous")

		br

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-block.btn-info(ng-click="displayView( 'teleop' )") Finish Autonomous

// For scoring
.panel.panel-default(collapse="collapse.scoring")
	.panel-heading Scoring
	.panel-body
		.row
			.col-offset-2.col-sm-10
				p.lead.pull-left Play Styles (select mutiple)

			.col-sm-12
				.btn-group.btn-group-justified
					.btn.btn-primary.btn-lg(ng-repeat="playStyle in playStyles track by $index", btn-checkbox, ng-model="playStyles[$index].action") {{playStyle.name | capitalize}}

		br

		.row
			.col-sm-6
				comp-spinner(title="High Goal", items-to-track="itemsToTrack")
			.col-sm-6
				comp-spinner(title="Low Goal", items-to-track="itemsToTrack")

// Teamwork - passing/receiving
.panel.panel-default(collapse="collapse.teamwork")
	.panel-heading Teamwork
	.panel-body

		p.lead.text-center Receiving

		.row
			.col-offset-2.col-sm-4
				p.lead Active Zones

			.col-sm-12
				.btn-group.btn-group-justified
					.btn.btn-primary.btn-lg(ng-repeat="zone in zones track by $index", btn-checkbox, ng-model="zones[$index].action") Zone - {{zone.name}}
					
		//	^ (above) compiles to v (below)
		//
			.row
				.col-sm-12
					.btn-group.btn-group-justified
						.btn.btn-primary(btn-checkbox, ng-model="zones[0].action", ng-click="print()") Zone 1
						.btn.btn-primary(btn-checkbox, ng-model="zones[1].action", ng-click="print()") Zone 2
						.btn.btn-primary(btn-checkbox, ng-model="zones[2].action", ng-click="print()") Zone 3 
						.btn.btn-primary(btn-checkbox, ng-model="zones[3].action", ng-click="print()") Goalie Zone 

		.row 
			.col-sm-6
				comp-spinner(title="Rolling Receive", items-to-track="itemsToTrack")
				comp-spinner(title="Truss Catch", items-to-track="itemsToTrack")

			.col-sm-6
				comp-spinner(title="Aerial Catch", items-to-track="itemsToTrack")

				//
					p.lead.text-center Miss Percentages
					br
					.row
						.col-sm-12
							progress
								bar(value='55', type='success') 55%

		p.lead.text-center Passing

		.row
			.col-sm-6
				comp-spinner(title="Rolling Pass", items-to-track="itemsToTrack")
				comp-spinner(title="Truss Toss", items-to-track="itemsToTrack")

			.col-sm-6
				comp-spinner(title="Aerial Toss", items-to-track="itemsToTrack")
				
				//
					p.lead.text-center Pass Percentages
					br
					.row
						.col-sm-12
							progress
								bar(value='55', type='success') 55%

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-block.btn-info(ng-click="displayView( 'submit' )") Finish Match

// issues
.panel.panel-default(collapse="collapse.issues")
	.panel-heading Issues
	.panel-body
		.row
			.col-sm-12
		.input-group
			.input-group-btn(ng-init="deadBroken=null")
				.btn.btn-danger(ng-model="deadBroken" btn-radio="'dead'") Dead or No-show
				.btn.btn-warning(ng-model="deadBroken" btn-radio="'broken'") Broken
			input.form-control(type="text" placeholder="Dead / No-show / Broken")
			.input-group-btn
				.btn.btn-default(ng-model="deadBroken" btn-radio="null")
					span.glyphicon.glyphicon-remove

		br

		.input-group
			.input-group-btn(ng-init="ejectable=null")
				.btn.btn-success(ng-model="ejectable" btn-radio="'ejectable'") Passive Eject
				.btn.btn-danger(ng-model="ejectable" btn-radio="'stuck'") Stuck
			input.form-control(type="text" placeholder="If robot breaks while holding ball...")
			.input-group-btn
				.btn.btn-default(ng-model="ejectable" btn-radio="null")
					span.glyphicon.glyphicon-remove

// submit match
.panel.panel-default(collapse="collapse.submit")
	.panel-heading Post-Match
	.panel-body
		h3 Ratings

		.row
			// repeats this when not even
			.col-sm-6
				.row(ng-repeat="rating in ratings track by $index", ng-if="$even")
					.col-sm-5
						p.pull-left {{rating.title | capitalize}}
					.col-sm-offset-2.col-sm-5
						rating.stars.pull-right(value="ratings[$index].stars" max="numStars")

			.col-sm-6
				.row(ng-repeat="rating in ratings track by $index", ng-if="$odd")
					.col-sm-5
						p.pull-left {{rating.title | capitalize}}
					.col-sm-offset-2.col-sm-5
						rating.stars.pull-right(value="ratings[$index].stars",max="numStars")

		.row
			.form-group
				.col-sm-4
					p.lead.text-center Current Notes
				.col-sm-12
					textarea.form-control(rows=15 disabled) {{currentNotes}}
				.col-sm-12
					// if a robot is dead, there is no need for match notes
					textarea.form-control(autofocus placeholder="Notes..." rows=15 ng-model="notes" ng-disabled="deadBroken === 'dead'")

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-lg.btn-block.btn-info(ng-click="submitMatch()") Submit Match for Team ####
