header.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="/") Home
		nav
			//on the left side of the nav
			ul.nav.navbar-nav
				li
					a(href="pit") Pit
				li
					a(href="scout") Scout
				li
					a(href="moderator") Moderator
				li
					a(href="analyst") Analyst
				li
					a(href="picklist") Picklist

p.lead Select your team.

.row
	.col-sm-4
		a.btn.btn-danger.btn-block.btn-lg(href="/scout/red1") Red 1
	.col-sm-4
		a.btn.btn-danger.btn-block.btn-lg(href="/scout/red2") Red 2
	.col-sm-4
		a.btn.btn-danger.btn-block.btn-lg(href="/scout/red3") Red 3

hr

.row
	.col-sm-4
		a.btn.btn-primary.btn-block.btn-lg(href="/scout/blue1") Blue 1
	.col-sm-4
		a.btn.btn-primary.btn-block.btn-lg(href="/scout/blue2") Blue 2
	.col-sm-4
		a.btn.btn-primary.btn-block.btn-lg(href="/scout/blue3") Blue 3
