link(rel='stylesheet' type='text/css' href='/css/index.css')

// extra navigation
header.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="/") Home
		nav
			//on the left side of the nav
			ul.nav.navbar-nav
				li
					a(ng-click="displayView( 'info' )") Match Info
				li
					a(ng-click="displayView( 'auto' )") Autonomous
				li
					a(ng-click="displayView( 'teleop' )") Teleop
				li
					a(ng-click="displayView( 'submit' )") Match Submit

// match info
.panel.panel-default(collapse="collapsed.info")
	.panel-heading Match Info
	.panel-body
		p.lead.text-center Red1

		.row
			.col-sm-3
				p.lead Choose Event
			.col-sm-9
				select.form-control(ng-options="event.name as event.value group by event.region for event in events" ng-model="info.event")
		.row
			.col-sm-3
				p.lead Scout Name
			.col-sm-9
				select.form-control(ng-options="scout for scout in scouts" ng-model="info.scout")

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-block.btn-info(ng-click="continueToMatch(); displayView( 'auto' )") I See My Robot!

// autonomous info
.panel.panel-default(collapse="collapsed.auto")
	.panel-heading Autonomous
	.panel-body

		p.lead.text-center Start Position

		.row
			.col-sm-12
				.btn-group.btn-group-justified
					.btn.btn-default.btn-lg(ng-model="auto.startPosition" btn-radio="'field'") Field
					.btn.btn-default.btn-lg(ng-model="auto.startPosition" btn-radio="'goalie'") Goalie

			.col-sm-12
				// if goalie, do shots blocked, if shooter, shots made
				div(ng-if="auto.startPosition === 'field'")
					br
					.row
						.col-sm-8.col-sm-offset-2
							.btn.btn-success.btn-block(ng-model="auto.drivesForward" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false") Drives Forward - ({{auto.drivesForward}})
					.row
						.col-sm-6
							comp-spinner(title="Goal" type="success" ng-model="auto.fieldValues.goal")
						.col-sm-6
							comp-spinner(title="Hot" type="warning" ng-model="auto.fieldValues.hotgoal")
						.col-sm-6
							comp-spinner(title="Miss" type="danger" ng-model="auto.fieldValues.miss")
				
				div(ng-if="auto.startPosition === 'goalie'")
					.row
						.col-sm-6
							comp-spinner(title="Block" type="success" ng-model="auto.goalieValues.block")
						.col-sm-6
							comp-spinner(title="Miss" type="danger" ng-model="auto.goalieValues.miss")

		br

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-block.btn-info(ng-click="displayView( 'teleop' )") Finish Autonomous

// For scoring
.panel.panel-default(collapse="collapsed.scoring")
	.panel-heading Scoring
	.panel-body
		.row
			.col-offset-2.col-sm-10
				p.lead.pull-left Play Styles (select multiple)

			.col-sm-12
				.btn-group.btn-group-justified
					.btn.btn-primary.btn-lg(ng-repeat="playStyle in scoring.playStyles track by $index", btn-checkbox ng-model="scoring.playStyles[$index].action") {{playStyle.name | capitalize}}

		br

		.row
			.col-offset-2.col-sm-10
				p.lead.pull-left Goals
			.col-sm-6
				comp-spinner(title="High" type="success" ng-model="scoring.goals.high")
			.col-sm-6
				comp-spinner(title="Low" type="warning" ng-model="scoring.goals.low")

// Teamwork - passing/receiving
.panel.panel-default(collapse="collapsed.teamwork")
	.panel-heading Teamwork
	.panel-body

		.row
			.col-offset-2.col-sm-4
				p.lead Active Zones

			.col-sm-12
				.btn-group.btn-group-justified
					.btn.btn-primary.btn-lg(ng-repeat="zone in teamwork.zones track by $index" btn-checkbox ng-model="teamwork.zones[$index].action") Zone - {{zone.name}}
					
		//	^ (above) compiles to v (below)
		//
			.row
				.col-sm-12
					.btn-group.btn-group-justified
						.btn.btn-primary(btn-checkbox, ng-model="zones[0].action", ng-click="print()") Zone 1
						.btn.btn-primary(btn-checkbox, ng-model="zones[1].action", ng-click="print()") Zone 2
						.btn.btn-primary(btn-checkbox, ng-model="zones[2].action", ng-click="print()") Zone 3 
						.btn.btn-primary(btn-checkbox, ng-model="zones[3].action", ng-click="print()") Goalie Zone 

		p.lead.text-center Receiving
		.row 
			.col-sm-6
				comp-spinner(title="Rolling" ng-model="teamwork.receiving.roll" type="warning")
				comp-spinner(title="Truss" ng-model="teamwork.receiving.truss" type="success")

			.col-sm-6
				comp-spinner(title="Aerial" ng-model="teamwork.receiving.aerial" type="danger")

		br

		p.lead.text-center Passing
		.row
			.col-sm-6
				comp-spinner(title="Rolling", ng-model="teamwork.passing.roll" type="warning")
				comp-spinner(title="Truss" ng-model="teamwork.passing.truss" type="success")

			.col-sm-6
				comp-spinner(title="Aerial" ng-model="teamwork.passing.aerial" type="danger")

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-block.btn-info(ng-click="displayView( 'submit' )") Finish Match

// issues
.panel.panel-default(collapse="collapsed.issues")
	.panel-heading Issues
	.panel-body
		.row
			.col-sm-12
		.input-group
			.input-group-btn
				.btn.btn-danger(ng-model="issues.deadBroken" btn-radio="'dead'") Dead or No-show
				.btn.btn-warning(ng-model="issues.deadBroken" btn-radio="'broken'") Broken
			input.form-control(type="text" ng-model="issues.deadBrokenNotes" placeholder="Dead / No-show / Broken")
			.input-group-btn
				.btn.btn-default(ng-model="issues.deadBroken" btn-radio="null")
					span.glyphicon.glyphicon-remove

		br

		.input-group
			.input-group-btn
				.btn.btn-success(ng-model="issues.ejectable" btn-radio="'ejectable'") Passive Eject
				.btn.btn-danger(ng-model="issues.ejectable" btn-radio="'stuck'") Stuck
			input.form-control(type="text" ng-model="issues.ejectionNotes" placeholder="If robot breaks while holding ball, what happens?")
			.input-group-btn
				.btn.btn-default(ng-model="issues.ejectable" btn-radio="null")
					span.glyphicon.glyphicon-remove

// submit match
.panel.panel-default(collapse="collapsed.submit")
	.panel-heading Post-Match
	.panel-body
		h3 Ratings

		.row
			// repeats this when not even
			.col-sm-6(ng-repeat-start="rating in submit.ratings track by $index")
				.row(ng-if="$even")
					.col-sm-5
						p.pull-left {{rating.title | capitalize}}
					.col-sm-offset-2.col-sm-5
						rating.stars.pull-right(value="submit.ratings[$index].stars" max="submit.numStars")

			.col-sm-6(ng-repeat-end )
				.row(ng-if="$odd")
					.col-sm-5
						p.pull-left {{rating.title | capitalize}}
					.col-sm-offset-2.col-sm-5
						rating.stars.pull-right(value="submit.ratings[$index].stars" max="submit.numStars")

		.row
			.form-group
				.col-sm-4
					p.lead.text-center Current Notes
				.col-sm-12
					textarea.form-control(rows=15 disabled) {{currentNotes}}
				.col-sm-12
					// if a robot is dead, there is no need for match notes
					textarea.form-control(placeholder="Notes..." ng-model="submit.notes" rows=15 ng-disabled="deadBroken === 'dead'")

		.row
			.col-sm-10.col-sm-offset-1
				.btn.btn-lg.btn-block.btn-info(ng-click="submitMatch()") Submit Match for Team ####
