link(rel='stylesheet', type='text/css', href='/css/style.css')

.panel.panel-default
	.panel-heading Choose Team
	.panel-body
	.panel-footer

.panel.panel-default
	.panel-heading Shooting
	.panel-body
	.panel-footer

.panel.panel-default
	.panel-heading Passing
	.panel-body
	.panel-footer

.panel.panel-default
	.panel-heading Other
	.panel-body
	.panel-footer
