.modal-header
	h3 Moderation - ({{ teamId }})
.modal-body
	.row
		.col-md-6
			h4.text-center Master Notes
			textarea.form-control(rows=30 ng-model="notes.master")
		.col-md-6
			h4.text-center Match Notes
			textarea.form-control(rows=30 ng-model="notes.match")

.modal-footer
	.btn-group.btn-group-lg.btn-group-justified
		.btn.btn-info(ng-click="ok()") Save Master Notes
		.btn.btn-danger(ng-click="cancel()") Cancel
			