.row
	.col-sm-12
		.btn-group.btn-group-justified
			.btn(class="btn-{{type}}" ng-click=" changeValue(-1) ")
				span.glyphicon.glyphicon-arrow-down
			.btn.btn-default
				h5.pull-left {{title | capitalize}} 
				span.badge.pull-right 
					h6 {{value}}
			.btn(class="btn-{{type}}" ng-click=" changeValue(1) ")
				span.glyphicon.glyphicon-arrow-up
