#mainWrapper
	margin-top 10px
	margin-left 10px
	margin-right 10px

// for rating stars
.stars
	font-size 20px

/* PICKLIST */
.scoreVerify
	font-size 3em

.btn-lg
	padding 30px

// PICKLIST
.overflow
	overflow auto
	height 600px

ul li
	list-style none

.list
	padding 2px
	margin 5px 0
	margin-left -40px
	border 1px solid #CDC9C9
	border-radius 5px
