#mainWrapper
	margin-top 80px

// for rating stars
.stars
	font-size 20px

/* PIT */
#alerts
	position fixed
	top 0
	width 100%
	left 0
	// display block
	// margin-left auto
	// margin-right auto

	z-index 1000

/* PICKLIST */
.scoreVerify
	font-size 3em


// PICKLIST
.overflow
	overflow auto
	height 600px

ul li
	list-style none

.list
	padding 2px
	margin 5px 0
	margin-left -40px
	border 1px solid #CDC9C9
	border-radius 5px
