#mainWrapper
	margin-top 80px

// for rating stars
.stars
	font-size 20px

/* PICKLIST */
.scoreVerify
	font-size 3em


// PICKLIST
.overflow
	overflow auto
	height 600px

ul li
	list-style none

.list
	padding 2px
	margin 5px 0
	margin-left -40px
	border 1px solid #CDC9C9
	border-radius 5px
