body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.btn-group-control {
  width: 100%;
}
#start,
#pause {
  border-color: #999;
  background-color: rgba(221,221,221,0.5);
  color: #329932;
  width: 50%;
}
#reset,
#verify {
  border-color: #999;
  background-color: rgba(221,221,221,0.5);
  color: #c00;
  width: 50%;
}
#leftcolred {
  border-left: 15px solid rgba(233,45,45,0.75);
  min-height: 200px;
}
#rightcolblue {
  border-right: 15px solid rgba(45,45,233,0.75);
  min-height: 200px;
}
#leftcolblue {
  border-left: 15px solid rgba(45,45,233,0.75);
  min-height: 200px;
}
#topcolred {
  border-top: 15px solid rgba(233,45,45,0.75);
  min-width: 200px;
}
#topcolblue {
  border-top: 15px solid rgba(45,45,233,0.75);
  min-width: 200px;
}
/*score numbers*/
.score {
  font-size: 15rem;
}
.score-small {
  font-size: 10rem;
}
.glyphicon-plus {
  color: #008000;
}
.glyphicon-minus {
  color: rgba(233,45,45,0.75);
}
.glyphicon.white-glyph {
  color: #fff;
}
.progress {
  height: 50px;
}
.button {
  width: 80px;
  margin: 5px 0px 5px 0px;
  padding: 20px 0px 20px 0px;
  background-color: #fff;
  border-radius: 20px;
}
.gray {
  background-color: #808080;
}
.red {
  background-color: rgba(233,45,45,0.75);
}
.blue {
  background-color: rgba(45,45,233,0.75);
}
#fieldPicture {
  height: 300px;
  background-color: #000;
  color: #fff;
}
#autoBox {
  margin-left: -25px;
  margin-right: 22px;
}
#header {
  margin-bottom: 30px;
}
