red_alliance = rgba(233,45,45,.75) //red
blue_alliance = rgba(45,45,233,.75) //blue

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

.btn-group-control
  width 100%

#start, #pause
  border-color #999999
  background-color rgba(221,221,221,.5)
  color #329932
  width 50%

#reset, #verify
  border-color #999999
  background-color rgba(221,221,221,.5)
  color #cc0000
  width 50%

#leftcolred
  border-left 15px solid red_alliance
  min-height 200px

#rightcolblue
  border-right 15px solid blue_alliance
  min-height  200px

#leftcolblue
  border-left 15px solid blue_alliance
  min-height 200px

#topcolred
  border-top 15px solid red_alliance
  min-width 200px

#topcolblue
  border-top 15px solid blue_alliance
  min-width 200px

/*score numbers*/
.score
  font-size 15rem

.score-small
  font-size 10rem

.glyphicon-plus
  color green

.glyphicon-minus
  color red_alliance

.glyphicon.white-glyph
  color white

.progress
  height 50px




//Eve's CSS
.button {
  width: 80px;
  margin: 5px 0px 5px 0px;
  padding: 20px 0px 20px 0px;
  background-color: white;
  border-radius: 20px;
}
.gray {
  background-color: gray;
}
.red
  background-color red_alliance
.blue {
  background-color blue_alliance
}
#fieldPicture {
  height: 300px;
  background-color: black;
  color: white;
}
#autoBox {
  margin-left: -25px;
  margin-right: 22px;
}
#header {
  margin-bottom: 30px;
}