.panel.panel-default
	.panel-heading Post-Match
	.panel-body
		h3 Ratings

		.row
			// repeats this when not even
			.col-sm-6
				.row(ng-repeat="rating in ratings track by $index", ng-if="$even")
					.col-sm-5
						p.pull-left {{rating.title | capitalize}}
					.col-sm-offset-2.col-sm-5
						rating.pull-right(value="ratings[$index].stars",max="numStars", on-hover="hoveringOver(value)",on-leave="overStar = null")

			.col-sm-6
				.row(ng-repeat="rating in ratings track by $index", ng-if="$odd")
					.col-sm-5
						p.pull-left {{rating.title | capitalize}}
					.col-sm-offset-2.col-sm-5
						rating.pull-right(value="ratings[$index].stars",max="numStars", on-hover="hoveringOver(value)",on-leave="overStar = null")

		.row
			.form-group
				.col-sm-4
					p.lead.text-center Current Notes
				//-.col-sm-12
				//-	textarea.form-control(rows=15) {{currentNotes}}
				.col-sm-12
					// if a robot is dead, there is no need for match notes
					textarea.form-control#notes(autofocus placeholder="Notes..." rows=15 ng-bind="$parent.notes")

		.row
			.col-sm-12
				.btn-group.btn-group-justified
					.btn.btn-lg.btn-warning Submit