extends ../layouts/default

TEST

// ball
	// # times stuck
	// how rid of unwanted ball?

	.panel.panel-default
		.panel-heading Stuck Balls
		.panel-body
		.panel-footer

	.panel.panel-default
		.panel-heading Passing
		.panel-body
		.panel-footer

	.panel.panel-default
		.panel-heading General Info
		.panel-body
			p Play Style
		.panel-footer

	.panel.panel-default
		.panel-heading Shots and Catches
		.panel-body
		.panel-footer


// Passing
	// how to do zones?
	// visual interface?
// Playing Style
// Catches (misses v. sucesses)